@import "@styles/abstracts/mixins";

.imageWrap {
  height: 200px;
  background: white;
  // padding: 4px;
  border-radius: 4px;
  outline: 2px solid transparent;
  width: calc(100% / 4 - 8px);
  overflow: hidden;
  position: relative;
  @include transition;
  .imageContent {
    width: 100%;
    height: auto;
    @include flexCenterCol;

    .imageActionsWrap {
      // @include hover;
      position: absolute;
      // bottom: 0;
      // left: 0;
      // right: 0;
      width: 0;
      height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
      overflow: hidden;
      z-index: 1;
      gap: 10px;
      background: #dee1ec;
      border-radius: 4px;
      @include transition;

      button {
        @include flexCenter;
        font-size: 12px;
        width: 0;
        height: 0;
      }
    }
    &:hover {
      .imageActionsWrap {
        bottom: 5px;
        right: 5px;
        overflow: auto;
        width: auto;
        height: fit-content;
        @include transition;
        button {
          width: auto;
          height: fit-content;
          padding: 6px;
          @include transition;
          svg {
            width: 20px;
            height: 20px;
            @include transition;
          }
        }
      }
    }
  }
  .title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0;
    background: var(--styleElementBg);
    margin: unset;
  }
  &.active {
    outline-offset: 2px;
    @include transition;
    .title {
      @include transition;
      color: white;
    }
  }
}
