@import "@styles/abstracts/mixins";
.colorPickerWrap {
  width: 100%;
  padding: unset !important;
  .elementWrap {
    @include flexStartAlC;
    gap: var(--small-gap);
    width: 100%;
    .colorValue {
      min-width: auto;
      height: 32px;
      padding: 0;
      font-size: 12px;
      letter-spacing: 1.2px;
    }
    .transparentWrap {
      min-width: auto;
      height: 32px;
      padding: 0;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      font-size: 12px;
      svg {
        width: 100%;
        height: 100%;
      }
      letter-spacing: 0.4px;
      @include transition;
      &.noColor {
        background-color: var(--secondary-color);
        cursor: auto;
        color: white;
        @include transition;
      }
    }
    .pickerWrap {
      width: auto;
    }
    .siderWrap {
      width: 100%;
    }
    .currentColorWrap {
      min-width: 30px;
      width: 50%;
      height: 30px;
      border-radius: 4px;
      border: 1px solid var(--slate);
      @include transition;
    }
  }
}
