.appActionsWrap {
  width: 325px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 14px;
  .actionCard {
    width: calc(100% / 3 - 10px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px 10px;
    border-radius: 6px;
  }
  .ant-popconfirm-buttons {
    button {
      height: unset;
    }
  }
}
