@import "@styles/abstracts/mixins";

.serachImagesWrap {
  width: auto;
  .headerWrap {
    position: sticky;
    top: 0;
    z-index: 1;
    .actionsWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      .segmentWrap {
        border: 1px solid #424242;
        border-radius: 4px;
        margin-top: 10px;
        .segmentItem {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 4px;
          font-size: 12px;
          .iconWrap {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            background-color: var(--styleElementBg);
            border-radius: 16px;
            box-shadow: rgba(76, 78, 100, 0.22) 0px 2px 10px 0px;
            @include transition;
          }
          .title {
            padding: 3px;
            font-size: 12px;
            letter-spacing: 0.3px;
          }
        }
      }
      button {
        font-size: 12px;
        letter-spacing: 0.3px;
      }
    }
    .headingWrap {
      font-size: 12px;
      padding: 10px 0;
      letter-spacing: 0.3px;
      @include flexStart;
      align-items: center !important;
      span {
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 3px;
        // box-shadow: rgba(76, 78, 100, 0.22) 0px 2px 10px 0px;
        .iconWrap {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;
          border-radius: 16px;
          @include transition;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .imagesWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    .imageWrap {
    }
  }
  .paginationWrap {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 2px;
    padding: 10px 0;
    right: 200px;
  }
}
