@import "@styles/abstracts/mixins";
.colorPresetsWrap {
  width: 100%;
  border: unset;
  .colorGroupWrap {
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 5px;
    background: #ffffff00;
    box-shadow: var(--navy-shadow);
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    .heading {
      font-size: 13px;
      color: inherit;
      letter-spacing: 0.2px;
      margin-bottom: 8px;
      font-weight: 800;
      text-transform: capitalize;
    }
    .colorsWrap {
      @include flexStartAlC;
      gap: 10px;
      flex-wrap: wrap;
      .colorWrap {
        // border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 2px;
        width: auto;
        background: #ffffff00;
        position: relative;
        /* filter: drop-shadow(2px 0px 1px rgba(0, 0, 0, .1)); */
        // box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgb(0 0 0 / 0%), 0 9px 28px 8px rgb(0 0 0 / 0%);
        .iconWrap {
          width: 24px;
          height: 24px;
          color: #ea0c0f;
          padding: 4px;
          //    box-shadow: rgba(76, 78, 100, 0.22) 0px 2px 10px 0px;
          border-radius: 12px;
          position: absolute;
          top: -11px;
          right: -11px;
          z-index: 1;
          cursor: pointer;
          @include transition;
          &:hover {
            padding: 0px;
            box-shadow: 0 2px 10px #dee1ec;
            transform: scale(1.1);
            @include transition;
          }
          svg {
            width: 100%;
            height: 100%;
          }
        }
        &.addColor {
          border: 1px solid var(--slate);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          width: 30px;
          color: var(--slate);
          padding: 6px;
          @include transition;
          cursor: pointer;
          svg {
            width: 100%;
            height: 100%;
          }
          &:hover {
            padding: 0px;
            box-shadow: 0 2px 10px #dee1ec;
            transform: scale(1.1);
            @include transition;
          }
        }
      }
    }
  }
}
