@import "@styles/abstracts/mixins";

.backgroundImageWrap {
  width: 100%;
  padding: 8px;
  margin-bottom: 0;
  padding-bottom: 0;
  .imageContentWrap {
    width: 100%;
    @include flexStart;
    gap: 10px;
    .uploadedImage {
      width: 100%;
      // background: white;
      padding: 7px;
      border-radius: 4px;
      height: 130px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .actionsWrap {
      width: 100%;
      width: 100%;
      @include flexStart;
      flex-direction: column;
      gap: 10px;
      .actions {
        width: 100%;
        @include flexStart;
        flex-direction: column;
        gap: 10px;
        padding: 0 12px;
        background: white;
        border-radius: 4px;
        .heading {
          @include heading;
          margin-bottom: 0;
          color: inherit;
        }
        .action {
          width: 100%;
          gap: 10px;
          @include flexStart;
        }
        &.updateImageBtn {
          width: 100%;
          border: 1px solid;
          font-size: 12px;
          height: 32px;
          padding: unset;
          @include flexCenter;
          @include hover;
          background: inherit;
        }
      }
    }
  }
  .imageBlurWrap {
    padding: 0;
    margin: 0;
    .imageBlurLabel {
      margin-bottom: 0;
    }
    .imageBlurContent {
      width: 100%;
    }
  }
}
.imageModalWrap {
  .bgImagesList {
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    padding: 4px;

    .imageWrap {
      height: 200px;
      background: white;
      padding: 4px;
      border-radius: 4px;
      outline: 2px solid var(--secondary-color-beta);
      width: calc(100% / 4 - 8px);
      overflow: hidden;
      position: relative;
      @include transition;
      .imageContent {
        width: 100%;
        height: 200px;
        @include flexCenterCol;

        .imageActionsWrap {
          // @include hover;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          height: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px;
          width: 100%;
          overflow: hidden;
          z-index: 1;
          @include flexCenterCol;
          gap: 10px;
          button {
            @include flexCenter;
            font-size: 12px;
          }
        }
        &:hover {
          .imageActionsWrap {
            bottom: 40px;
            padding: 10px;
            height: auto;
            overflow: auto;

            @include transition;
          }
        }
      }
      .title {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 5px 0;
        background: var(--styleElementBg);
        @include heading;
        margin: unset;
      }
      &.active {
        outline-offset: 2px;
        @include transition;
        .title {
          @include transition;
          color: white;
        }
      }
    }
  }
}
